{% block file_methods %}
{% if update_version %}
{{ update_version }}:
    '#title': 'Update to version {{ update_version }}'
    '#description': '<h3>These are the new features for this release:</h3>'
{% endif %}
    {{ update_hook_name }}:
        '#title': '{{ checklist_title }}'
        '#description': '<p>{{ checklist_description }}</p>'
        '#description_successful': '<p>{{ checklist_success }}</p>'
        '#description_failed': '<p><strong>{{ checklist_failed }}</strong><p>'
{% endblock %}